*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.navigation{
  position: fixed;
  height: 70px;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  -webkit-box-shadow:0px 17px 59px 11px black;
  -moz-box-shadow: 0px 17px 59px 11px black;
  box-shadow: 0px 17px 59px 11px black;
}



@font-face {
  font-family: "regular";
  src: url(/static/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "light";
  src: url(/static/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: "extralight";
  src: url(/static/fonts/Raleway-ExtraLight.ttf);
}

nav {
  width: 90%;
  transition: all ease-in-out 0.7s;
  background: rgb(115,119,123);
  background: rgb(27,35,46);
  background: linear-gradient(90deg, rgba(27,35,46,1) 0%, rgba(47,60,79,1) 35%, rgba(80,110,134,1) 100%);  color: #42393b;
  padding: 10px 20px;
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  list-style: none;
}

nav ul {
  position: absolute;
  top: 65px;
  left: 0;
  background: #242424;
  width: 100%;
  z-index: 50;
}

nav ul .opciones {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

nav ul .opciones li {
  width: 100%;
  margin: 20px 0;
}

nav ul .opciones li a {
  color: #506E86;
  padding: 10px 30px;
  border-bottom: 2px solid transparent;
  transition: all ease-in .8s;
}

nav ul .opciones li a:hover {
  border-bottom: 2px solid #c75a1c;
  color: #506E86;
}

@media screen and (min-width: 768px) {
  nav ul {
    position: initial;
    clip-path: none;
  }

  nav ul .opciones {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav ul .opciones li {
    margin: 0 10px;
    width: auto;
  }

  nav ul .opciones li a {
    margin: 10px;
    padding: 10px;
  }
}

.nav-logo {
  margin: 10px;
  width: 5.5%;
}

#logo {
  margin-right: 30%;
  margin-left: 1%;
  text-align: center;
  font-family: "regular";
  font-size: 200%;
  color: #E6A139;
}

#desplegable {
  background-color: #506E86;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  margin: 10px;
  width: 100%;
}

#inicio {
  color: #E67628;
  margin-right: 10px;
  text-align: center;
  font-family: "light";
  font-size: 115%;
}

#barra {
  color: #E6A139;
  margin: 2%;
  text-align: center;
  font-family: "light";
  font-size: 100%;
  font-size: 15px;
  text-decoration: none;
}

#navbarDropdown {
  color: #E6A139;
  margin: 10px;
  text-align: center;
  font-family: "light";
}

.navigation{
  position: fixed;
  height: 70px;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  -webkit-box-shadow:0px 17px 59px 11px black;
  -moz-box-shadow: 0px 17px 59px 11px black;
  box-shadow: 0px 17px 59px 11px black;
}

ul{
  position: relative;
  height: 70px;
  left: 810px;
}

li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  height: 40px;
  padding-top: 25px;
  font-weight: bold;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}


a{
  color: #506E86;
  font-size: 15px;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  background-color: #e6a13958;
  box-shadow: 0px 0px 200px 40px #1B232E;
  -webkit-box-shadow: 0px 0px 200px 40px #E6A139;
  -moz-box-shadow:  0px 0px 200px 40px #E6A139;
  text-decoration: underline #E6A139;

}

