<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/diseño/static/css/style.css">
    <title>Barra de Navegación Principal</title>
</head>
<body>

<div class="navigation">
    <h1 class="dos">Seguridad Privada</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contratación</a></li>
        <li><a href="#">Examen</a></li>
        <li><a href="#">Catálogos</a></li>
    </ul>
</div>
<div class="content">

</div>
</body>
</html>
