/*===================================================
                Fuentes de texto
===================================================*/
@font-face {
    font-family: "regular";
    src: url(/static/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "light";
    src: url(/static/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: "extralight";
    src: url(/static/fonts/Raleway-ExtraLight.ttf);
}

/*===================================================
                Fin de Fuentes de texto
  ===================================================*/

body {
    background-color: rgba(255, 255, 255, 0.932);
    opacity: 1;
}

/*=============================
                Nav
  ===============================
  */

nav {
    height: 17.5%;
    background-color: rgba(255, 255, 255, 0.932);
    opacity: 1;
    border-bottom: .2rem solid #E6A139;
    transition: 0.9s;
}

.nav-log {
    margin: 3%;
    width: 18%;
}

.nav-log:hover {
    margin: 3%;
    width: 19%;
}

#logo {
    margin: 1%;
    text-align: center;
    position: relative;
    font-family: "regular";
    font-size: 220%;
    color: #E6A139;
}

#logo:hover {
    margin: 1%;
    text-align: center;
    position: relative;
    font-family: "regular";
    font-size: 230%;
    color: #E6A139;
}

.navbar-toggler {
    padding: .7% .8%;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border-radius: 0px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent !important;
}

.navbar-toggler:hover {
    border: 1px solid transparent;
    color: #E67628 !important;
}

.navbar-toggler::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #E6A139;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.navbar-toggler::after {
    border-radius: 4px;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #E67628;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.navbar-toggler:hover::before,
.navbar-toggler:hover::before {
    opacity: 1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.navbar-toggler:hover::after,
.navbar-toggler:hover::after {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

/*====================================
                Fin Nav
  ====================================*/

/*=====================================
              Barra Lateral
  =====================================*/

.offcanvas {
    background-color: rgba(255, 255, 255, 0.986);
    opacity: 1;
    border-right: .2rem solid #E6A139;
    color: #E6A139;
    font-family: "regular";
    text-align: center;
    transition: 0.9s;
}

.offcanvas-body {
    padding: 0%;
}

.offcanvas-title {
    color: #E6A139;
    font-family: "regular";
    font-size: 170%;
}

.offcanvas-header {
    padding: 0%;
}

#x {
    width: 8.5%;
    height: 38%;
    margin-left: 15%;
    padding: 0%;
}

#x:hover {
    width: 9%;
    height: 39%;
    margin-left: 15%;
    padding: 0%;
    background-color: #E6A139;
}

#barra {
    font-family: "light";
    margin-top: 6%;
    text-align: justify;
    color: #E6A139;
    margin-left: 10%;
    margin-right: 4%;
}

#barra1 {
    font-family: "light";
    margin-top: 6%;
    text-align: justify;
    color: #E6A139;
    margin-left: 19.5%;
}

.nav-link {
    padding: 0%;
}

.navbar-brand {
    padding: 0%;
    margin-right: 0%;
}

#desplegable {
    padding: 1%;
    background-color: #E6A139;
    font-family: "regular";
    font-size: 90%;
}

.dropdown-item {
    padding: 4%;
    background-color: #E6A139;
}

.dropdown-item:hover {
    padding: 4%;
    background: rgb(230, 161, 57);
    background: linear-gradient(90deg, rgba(230, 161, 57, 1) 27%, rgba(230, 118, 40, 1) 95%);
}

/*=====================================
             Fin Barra Lateral
  ======================================*/

/*===================================================
                    Button Dark Mode
  ===================================================*/

.menu-options {
    padding: 0%;
    margin-right: 35%;
}

.theme-switch {
    --toggle-size: 110%;
    /* the size is adjusted using font-size,
         this is not transform scale,
         so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.15rem;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
}

.theme-switch__container {
    margin-top: 55%;
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked+.theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*===================================================
                Fin boton Dark Mode
  ===================================================*/

/*===================================================
                    Tablas
====================================================*/

table {
    margin-top: 5%;
    font-family: "light";
    width: 95%;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#title {
    margin-top: 8%;
    margin-bottom: 3%;
    background-color: #506E86;
    border-bottom: .2rem solid #E6A139;
    padding: 1.5%;
    color: rgba(255, 255, 255, 0.932);
    text-align: center;
}

#ndp {
    width: 100%;
}

#encabezado {
    font-size: 99%;
    background: rgb(230, 118, 40);
    background: linear-gradient(90deg, rgba(230, 118, 40, 1) 35%, rgba(230, 161, 57, 1) 89%);
    color: #283446;
    text-align: center;
    border: .1rem solid rgba(255, 255, 255, 0.932);
    font-family: "regular";
}

#btn1 {
    border-radius: .1rem;
    font-size: 90%;
    width: 100%;
    padding: 2.1% 33%;
    color: white;
    cursor: pointer;
    background-color: #506E86;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

body.active #btn1 {
    border-bottom: .1rem solid #e6a139;

}

#btn1:hover {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn1:active {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

body.active #btn1:hover,
#btn1:active {
    box-shadow: 0 .2rem #E6A139;
    transform: translateY(4px);
}

#btn2 {
    border-radius: .1rem;
    font-size: 90%;
    width: 100%;
    padding: .8% 33%;
    color: white;
    cursor: pointer;
    background-color: #2F3C4F;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

#btn2:hover {
    background-color: #1B232E;
    box-shadow: 0 .2rem #E67628;
    transform: translateY(4px);
}

#btn2:active {
    background-color: #1B232E;
    box-shadow: 0 .2rem #E67628;
    transform: translateY(4px);
}

#btn3 {
    border-radius: .1rem;
    text-align: center;
    align-items: center;
    font-size: 90%;
    width: 100%;
    padding: 15% 33%;
    color: white;
    cursor: pointer;
    background-color: #506E86;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

#btn3:hover {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn3:active {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn4 {
    border-radius: .1rem;
    text-align: center;
    align-items: center;
    font-size: 80%;
    width: 70%;
    padding: 2% 3.5%;
    color: white;
    cursor: pointer;
    background-color: #506E86;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

#btn4:hover {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn4:active {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn3 {
    border-radius: .1rem;
    text-align: center;
    align-items: center;
    font-size: 90%;
    width: 100%;
    padding: 15% 33%;
    color: white;
    cursor: pointer;
    background-color: #506E86;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

#btn3:hover {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn3:active {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn4 {
    border-radius: .1rem;
    text-align: center;
    align-items: center;
    font-size: 80%;
    width: 70%;
    padding: 2% 3.5%;
    color: white;
    cursor: pointer;
    background-color: #506E86;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

#btn4:hover {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#btn4:active {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#agregar {
    font-size: 90%;
    width: 100%;
    height: 100%;
    padding-left: 30%;
    padding-right: 30%;
    border: .1rem solid rgba(255, 255, 255, 0.932);
    display: inline-block;
    text-decoration: none;
    font-family: "regular";
    text-transform: uppercase !important;
    color: #1B232E;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border-radius: 0px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent !important;
}


#agregar:hover {
    border: .3rem solid transparent;
    color: #ffffff !important;
}

#agregar::before {
    content: '';
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(230, 161, 57);
    background: linear-gradient(90deg, rgba(230, 161, 57, 1) 35%, rgba(230, 118, 40, 1) 89%);
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

#agregar::after {
    text-align: center;
    content: '';
    width: 100%;
    height: 100%;
    background: #506E86;
    color: #506E86;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

#agregar:hover::before,
#agregar:hover::before {
    opacity: 1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

#agregar:hover::after,
#agregar:hover::after {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

#enviar {
    border-radius: .1rem;
    text-align: center;
    font-size: 90%;
    width: 100%;
    padding: 3% 33%;
    color: white;
    cursor: pointer;
    background-color: #506E86;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

#enviar:hover {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

#enviar:active {
    background-color: #2F3C4F;
    box-shadow: 0 .2rem #666;
    transform: translateY(4px);
}

.tablefondo {
    font-size: 95%;
    background: rgb(47, 60, 79);
    background: linear-gradient(90deg, rgba(47, 60, 79, 1) 29%, rgba(80, 110, 134, 1) 89%);
    color: #dedfe4;
    border: .1rem solid rgba(255, 255, 255, 0.932);
    padding-left: 2%;
}

.tablefondo1 {
    font-size: 95%;
    background: rgb(80, 110, 134);
    background: linear-gradient(90deg, rgba(80, 110, 134, 1) 62%, rgba(115, 119, 123, 1) 100%);
    color: #dedfe4;
    border: .1rem solid rgba(255, 255, 255, 0.932);
    padding-left: 2%;
}

.btnsolo {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    align-items: center;
}


/*===================================================
                Fin de Tablas
====================================================*/

/*===================================================
                    Formulario
===================================================*/



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
}

#subtitle {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #73777B;
    border-bottom: .2rem solid #506E86;
    padding: .7%;
    color: rgba(255, 255, 255, 0.932);
    text-align: center;
}
body.active #subtitle{
    background:linear-gradient(#E67628 29%,#e7872d 89%);
    border-bottom: .2rem solid #506E86;
    color: rgba(24, 22, 48, 0.932);

}

#formulario {
    width: 95%;
    border-radius: .4rem;
    margin-bottom: 3%;
    padding: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #506E86;
    font-family: "regular";
    color: #E6A139;
    text-align: center;
}

.form-control {
    background-color: #1B232E !important;
    border-color: #1b232e !important;
    color: #E6A139 !important;
    font-weight: 600;
    outline: none !important;
}

.form-control:focus {
    background-color: #2F3C4F !important;
    border-color: #2F3C4F !important;
    color: #E6A139 !important;
    box-shadow: 0px 0px 4px 2px #1B232E !important;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-select {
    border-radius: 4.5px !important;
    border-color: #1B232E !important;
    background-color: #1B232E !important;
    color: #E6A139 !important;
    font-family: "regular";
    outline: none;
}

select:focus {
    border-color: #2F3C4F;
    background-color: #2F3C4F;
    color: #E6A139;
    box-shadow: 0px 0px 4px 2px #1B232E !important;
}

.form-label {
    font-weight: 600;
}



#formulario1 {
    width: 90%;
    border-radius: .4rem;
    margin-bottom: 5%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #506E86;
    font-family: "regular";
    color: #E6A139;
    text-align: center;
}

/*===================================================
                Fin de formulario
===================================================*/

/*===================================================
              configuraciones del dark mode
  ====================================================*/

body.active {
    background-color: #1B232E;
}

body.active nav {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(27, 27, 27) 0%, rgba(27, 35, 46, 1) 35%, rgba(47, 60, 79, 1) 100%);
    transition: 0.9s;
}

body.active .offcanvas {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(27, 27, 27) 0%, rgba(27, 35, 46, 1) 35%, rgba(47, 60, 79, 1) 100%);
    border-right: 2.5px solid #E6A139;
    transition: 0.9s;
}

body.active #title {
    background: linear-gradient(90deg, rgba(47, 60, 79, 1) 29%, rgb(221, 119, 45)89%);
    border-bottom: .2rem solid #E6A139;
}

body.active .tablefondo {
    background: rgb(115, 119, 123);
    background: linear-gradient(90deg, rgb(112, 117, 124) 4%, rgba(27, 35, 46, 1) 95%);
    color: #ffffff;
    border: .1rem solid #1B232E;
}

body.active #agregar {
    border: .1rem solid #1B232E;
    color: white;
}

body.active #agregar::before {
    background: rgb(80, 110, 134);
    background: linear-gradient(90deg, rgba(80, 110, 134, 1) 4%, rgba(47, 60, 79, 1) 28%, rgba(230, 118, 40, 1) 75%);
    font-family: "regular";
}

body.active #btn2 {
    background: rgb(47, 60, 79);
    background: linear-gradient(90deg, rgba(47, 60, 79, 1) 4%, rgba(115, 119, 123, 1) 95%);
    border: none;
}

body.active #btn2:hover {
    box-shadow: 0 .2rem #506E86;
}

body.active #btn2:active {
    box-shadow: 0 .2rem #506E86;
}

body.active #enviar {
    background-color: #E6A139;
}

body.active #enviar:hover {
    box-shadow: 0 .2rem #E67628;
}

body.active #enviar:active {
    box-shadow: 0 .2rem #E67628;
}

body.active #encabezado {
    border: .1rem solid #1B232E;
    color: white;
    font-family: "regular";
    background: rgb(47, 60, 79);
    background: linear-gradient(90deg, rgba(47, 60, 79, 1) 40%, rgba(80, 110, 134, 1) 100%);
}

/*===================================================
          Fin de configuraciones del dark mode
  ====================================================*/

.selectores {
    display: none;
}

.error {
    background-color: #e9b7bb;
}

.valid {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#btn-requi {
    font-size: 90%;
    width: 100%;
    height: 100%;
    padding-left: 30%;
    padding-right: 30%;
    border: .1rem solid rgba(255, 255, 255, 0.932);
    display: inline-block;
    text-decoration: none;
    font-family: "regular";
    text-transform: uppercase !important;
    color: #1B232E;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border-radius: 0px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent !important;
}