@font-face {
    font-family: "regular";
    src: url(/diseño/static/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "light";
    src: url(/diseño/static/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: "extralight";
    src: url(/diseño/static/fonts/Raleway-ExtraLight.ttf);
}

nav {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(27, 27, 27) 0%, rgba(27, 35, 46, 1) 35%, rgba(47, 60, 79, 1) 100%);
    border-bottom: 2.5px solid #E6A139;
}

.offcanvas {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(27, 27, 27) 0%, rgba(27, 35, 46, 1) 35%, rgba(47, 60, 79, 1) 100%);
    border-right: 2.5px solid #E6A139;
    color: #E6A139;
    font-family: "regular";
}

.nav-log {
    margin: 3%;
    width: 18%;
}

#logo {
    margin: 1%;
    text-align: center;
    position: relative;
    font-family: "regular";
    font-size: 220%;
    color: #E6A139;
}

#barra {
    font-family: "light";
    margin: 10px;
    text-align: center;
    color: #E6A139;
}

.offcanvas-title {
    color: #E6A139;
    font-family: "regular";
    font-size: 170%;
}