.container{
    display: flex;
}

.card{
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #3D5A73;
    flex: 1;
    transition: 0.5 all ease;
}

.card:hover{
    flex: 2;
    background-color: #3B5242;
}