{% extends "layout.html" %}
{% block content %}
<h3>
    <CENTER> <b> Agregar curso</b> </CENTER>
      
</h3>
   <br>
   <br>
   <br>
<form action="/arg_cur" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label">Nombre del curso:</label>
                      <input type="text" class="form-control" name="nombre" id="nombre"></input>
                      <br>
                      <label for="descripcion" class="form-label">Descripcion:</label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion"></input>
                      <br>
                      <label for="descripcion" class="form-label">Nombre del encargado del curso:</label>
                      <input type="text" class="form-control" name="nombren" id="nombren"></input>
                      <br>
                      <label for="descripcion" class="form-label">Video para el curso:</label>
                      <input type="text" class="form-control" name="Video" id="Video"></input>
                      <br>
                      <label for="descripcion" class="form-label">Informacion de lo que hay en el curso</label>
                      <input type="text" class="form-control" name="Informacion" id="Informacion"></input>
                      <br>
                </div>
                </div>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
          
</form>
{% endblock %}