{% extends "layout.html" %}

{% block content %}
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#465F5A" valign="top">
    <right><h3><a href="/area_agregar">Agregar AREA</a></h3></right>
    <center><h3>AREAS REGISTRADAS</h3></center>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
      <tr>
        <td color="white" bgcolor="blue">Descripcion</td>
        <td color="white" bgcolor="black"></td>
        <td color="white" bgcolor="black"></td>
      </tr>
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        <td width="80%">
           {{i.1}}
        </td>

        <td bgcolor="#2B2D83" width="8%">
        <center><a href="/area_editar/{{i.0}}" style="...">Editar</a></center>
        </td>
        <td bgcolor="#3C3EC5" width="8%">
        <center><a href="/area_borrar/{{i.0}}" style="...">Borrar</a></center>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
{% endblock %}