{% extends "layout.html" %}

{% block content %}
    <div id="title">
      <h3>CALIFICACIONES</h3>
    </div>
  
    <table>
    <thead>
      <tr>
        <td id="encabezado">Nombre</td>
        <td id="encabezado">RFC</td>
        <td id="encabezado">Calificacion</td>
      </tr>
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        <td class="tablefondo">
           {{i.1}}
        </td>
        <td class="tablefondo">{{i.2}}</td>
        <td class="tablefondo">{{i.3}}/12</td>
        <td><a href="/calificacion_detalles/{{i.0}}"  class="button" id="btn1">Detalles</a>
        </td>
        <td>
        <a href="/calificacion_borrar/{{i.0}}" class="button" id="btn1">Borrar</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
  </div>
{% endblock %}