{% extends "layout.html" %}

{% block content %}
<div id="title">
  <h3>Cursos del Candidatos</h3>
</div>

<table>
  <thead>
    <tr>
      <td id="encabezado">Nombre:</td>
      <td id="encabezado">Descripcion:</td>
      <td id="encabezado">completado:</td>
    </tr>
  </thead>
  <tbody>
    {% for i in comentarios %}

    <form action="/clubvist2/{{i.4}}" method="post">
      <tr>
        <td class="tablefondo">
          {{i.1}}
        </td>
        <td class="tablefondo">
          {{i.2}}
        </td>
        <td class="tablefondo">
          {{i.3}}
        </td>
        <td>
          <button type="submit" id="btn1">Completar</button>
        </td>
      </tr>
    </form>
    {% endfor %}
  </tbody>
</table>

{% endblock %}