{% extends "layout.html" %}

{% block content %}

<div id="title">
  <h3>Candidatos registrados para la vacante de {{nomPuesto}}</h3>
  {% if idCandSelec != 0 %}
  <br>
  <h6>Ya hay candidato seleccionado a esta vacante</h6>
  {% endif %}
</div>
<table>
  <thead id="ndp">
    <tr>
      <td id="encabezado"><b>ID del candidato</b></td>
      <td id="encabezado"><b>Nombre</b></td>
      <td id="encabezado"><b>CURP</b></td>
    </tr>
  </thead>
  <tbody>
    {% for i in datos %}
    <tr>
      <td class="tablefondo">
        {{i.0}}
      </td>
      <td class="tablefondo">
        {{i.3}}
      </td>
      <td class="tablefondo">
        {{i.4}}
      </td>
      <td>
        {% if idCandSelec != 0 %}
        <a class="btn" id="btn1" disabled style="border: none;">Seleccionar Candidato</a>
        {% elif idCandSelec == 0 %}
        <a href="/seleccionarCandidato/{{i.0}}/{{idV}}" class="btn" id="btn1">Seleccionar
          Candidato</a>
        {% endif %}
      </td>
      <td><a href="/detailCand/{{i.0}}" class="btn" id="btn1">Detalles</a>
      </td>
      <td><a href="/editarCand/{{i.0}}/{{idV}}" class="btn" id="btn1">Editar</a>
      </td>
      <td><a href="/borrarCand/{{i.0}}/{{idV}}" class="btn" id="btn1">Borrar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<br>

<br>
<br>

<br>
{% endblock %}