{% extends "layout.html" %}

{% block content %}

<table>
  <tbody>
    <tr>
      <td valign="top">
        <div id="title">
          <h3><a href="/carre_agregar" class="btn" id="btn2">Agregar Carrera</a></h3><br>
          <h3>CARRERAS REGISTRADAS</h3>
        </div>

        <table id="fuente" width="100%" cellpadding="1">
          <thead id="ndp">
            <tr>
              <td id="encabezado">Descripcion</td>
            </tr>
          </thead>
          <tbody>
            {% for i in datos %}
            <tr>
              <td class="tablefondo">
                {{i.1}}
              </td>

              <td><a href="/carre_editar/{{i.0}}" class="btn" id="btn3">Editar</a>
              </td>
              <td><a href="/carre_borrar/{{i.0}}" class="btn" id="btn3">Borrar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
{% endblock %}