{% extends "layout.html" %}

{% block content %}
<style>
      body {
            background-color: #f3f3e6de;
      }
</style>
<h3 id="title">
      <CENTER> <b> Agregar Carrera </b> </CENTER>

</h3>
<br>
<br>
<br>
<form action="/agregarCarre" method="post">
      <div class="container">
            <div class="form-row">
                  <div class="col-xs-12 ">
                        <div class="mb-3">
                              <label for="descripcion" class="form-label">Carrera</label>
                              <input type="text" class="form-control" name="descripcion" id="descripcion"></input>
                        </div>
                  </div>
            </div>
            <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
      </div>
</form>


{% endblock %}