{% extends "layout.html" %}

{% block content %}
<div id="title">
  <h3>Cursos</h3>
</div>


<table>
  <thead>
    <tr>
      <td id="encabezado">Nombre</td>
      <td id="encabezado">Descripcion</td>
    </tr>
  </thead>
  <tbody>
    {% for i in comentarios %}
    <tr>
      <td class="tablefondo">
        {{i.1}}
      </td>
      <td class="tablefondo">
        {{i.2}}
      </td>
      <td><a href="/cursoagr/{{i.1}}/{{i.2}}/{{pot}}" class="btn" id="btn4">agregar</a></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
{% endblock %}