{% extends "layout.html" %}

{% block content %}
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
   
    <td color="FFFFFF" bgcolor="#465F5A" valign="top">
      
    

    <center><h3>Cursos</h3></center>

    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
           
    </td>
    <thead>
      <tr>
        <td color="white" bgcolor="blue">Nombre</td>
        <td color="white" bgcolor="blue">Descripcion</td>
        <td color="white" bgcolor="black"></td>
      </tr>
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        <td>
           {{i.1}}
        </td>
        <td>
            {{i.2}}
         </td>
         <td>
        <td bgcolor="#3C3EC5" width="8%">
                <button type="button"><a href="/cursoagr/{{i.1}}/{{i.2}}/{{pot}}">agregar</a></center></button>
            </td>
         </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
{% endblock %}
