{% extends "layout.html" %}

{% block content %}
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#465F5A" valign="top">
    <center><h3>Curriculum</h3></center>
    <button type="button"><a style=" color: black;" href="/arg_curso">agregar</a></center></button>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
      <tr>
        <td color="white" bgcolor="blue">Numero de identidad</td>
        <td color="white" bgcolor="blue">Nombre</td>
        <td color="white" bgcolor="blue">Telefono</td>
        <td color="white" bgcolor="blue">direccion</td>
        <td color="white" bgcolor="blue">curp</td>
        <td color="white" bgcolor="blue">vacante</td>
        <td color="white" bgcolor="blue">cursos tomados</td>
        <td color="white" bgcolor="blue">completado</td>

      </tr>
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        <td>
           {{i.1}}
        </td>
        <td>
            {{i.2}}
         </td>
         <td>
            {{i.3}}
         </td>
         <td>
            {{i.4}}
         </td>
         <td>
            {{i.5}}
         </td>
         <td>
            {{i.6}}
        </td>
        <td>
            {{i.7}}
        </td>        
        <td>
            {{i.9}}
        </td>

    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
{% endblock %}