{% extends "layout.html" %}
{% block content %}
<h3>
    <CENTER> <b> Editar</b> </CENTER>
      
</h3>
   <br>
   <br>
   <br>
<form action="/clubi_edit/{{comentar.0}}" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label">Nombre del curso:</label>
                      <input type="text" class="form-control" name="nombre" id="nombre"value="{{comentar.1}}"></input>
                      <br>
                      <label for="descripcion" class="form-label">Descripcion:</label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion"value="{{comentar.2}}"></input>
                      <br>
                      <label for="descripcion" class="form-label">Nombre del encargado del curso:</label>
                      <input type="text" class="form-control" name="nombren" id="nombren"value="{{comentar.4}}"></input>
                      <br>
                      <label for="descripcion" class="form-label">Video para el curso:</label>
                      <input type="text" class="form-control" name="Video" id="Video"value="{{comentar.3}}"></input>
                      <br>
                      <label for="descripcion" class="form-label">Informacion de lo que hay en el curso</label>
                      <input type="text" class="form-control" name="Informacion" id="Informacion"value="{{comentar.5}}"></input>
                </div>
                </div>
          </div>
          <button type="submit" class="btn btn-primary">Editar</button>
    </div>
</form>
{% endblock %}