{% extends "layout.html" %}

{% block content %}

<div id="title">
  <h3><a href="/esco_agregar" class="btn" id="btn2">Agregar Escolaridad</a></h3><br>
  <h3>ESCOLARIDADES REGISTRADAS</h3>
</div>

<table>
  <table>
    <thead id="ndp">
      <tr>
        <td id="encabezado"><b>Descripcion</b></td>
      </tr>
    </thead>
    <tbody>
      {% for i in datos %}
      <tr>
        <td class="tablefondo">
          {{i.1}}
        </td>

        <td width="8%">
          <center><a href="/esco_editar/{{i.0}}" class="btn" id="btn3">Editar</a></center>
        </td>
        <td width="8%">
          <center><a href="/esco_borrar/{{i.0}}" class="btn" id="btn3">Borrar</a></center>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </td>
  </tr>
  </tbody>
</table>
<br>
<br><br><br>

{% endblock %}