{% extends "layout.html" %} {% block content %}
<div class="mintit">
  <h3 id="title">EXAMENES A REVISAR</h3>
</div>
<table>
  <tr>
    <td id="encabezado">Nombre</td>
    <td id="encabezado">RFC</td>
  </tr>
</thead>
<tbody>
  {% for i in comentarios %}
  <tr>
    <td>{{i.1}}</td>
    <td>{{i.2}}</td>
    <td> <a href="/examen_calificar/{{i.0}}" class="button" id="btn1">Calificar</a></td>
    <td><a href="/examen_borrar/{{i.0}}" class="button" id="btn1">Borrar</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}
