{% extends "layout.html" %}

{% block content %}
<div id="title">
  <h3><a href="/habilidad_agregar" class="btn" id="btn2">Agregar habilidad</a></h3><br>
  <h3>Habilidades</h3>
</div>

<table>
  <thead id="ndp">
    <tr>
      <td id="encabezado"><b>Descripcion</b></td>
    </tr>
  </thead>
  <tbody>
    {% for i in comentarios %}
    <tr>
      <td class="tablefondo">
        {{i.1}}
      </td>

      <td width="8%">
        <center><a href="/habilidad_editar/{{i.0}}" class="btn" id="btn1">Editar</a></center>
      </td>
      <td width="8%">
        <center><a href="/habilidad_borrar/{{i.0}}" class="btn" id="btn1">Borrar</a></center>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br>
<br>
<br>
{% endblock %}