{% extends "layout.html" %}

{% block content %}
<form id="formulario" action="/habilidad_fedita/{{comentar.0}}" method="post">
      <style>
            body {
                  background-color: #f3f3e6de;
            }
      </style>
      <div class="container">
            <div class="form-row">
                  <div class="col-xs-12 ">
                        <div class="mb-3">
                              <label for="descripcion" class="form-label">Habilidades</label>
                              <input type="text" class="form-control" name="descripcion" id="descripcion"
                                    placeholder="area" value="{{comentar.1}}">
                        </div>

                  </div>
            </div>
            <button type="submit" class="btn btn-primary" id="enviar">Actualizar</button>
      </div>
</form>

{% endblock %}