{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/style.css">
<style>
      body {
            background-color: #f3f3e6de;
      }
</style>
<h3 id="title">
      <CENTER> <b> Agregar habilidad</b> </CENTER>

</h3>
<br>
<form id="formulario" class="area" action="/habilidad_fagrega" method="post">
      <div class="container">
            <div class="form-row">
                  <div class="col-xs-12 ">
                        <div class="mb-3">
                              <label for="descripcion" class="form-label">Habilidades</label>
                              <input type="text" class="form-control" name="descripcion" id="descripcion"></input>
                        </div>
                  </div>
            </div>
            <button type="submit" class="btn" id="enviar">Enviar</button>
      </div>
</form>
{% endblock %}