{% extends "layout.html" %}
{% block content %}
<div id="title">
      <h3>Agregar habilidad</h3>
</div>
<br>
<form id="formulario" class="area" action="/habilidad_fagrega" method="post">
      <div class="container">
            <div class="form-row">
                  <div class="col-xs-12 ">
                        <div class="mb-3">
                              <label for="descripcion" class="form-label">Habilidades</label>
                              <input type="text" class="form-control" name="descripcion" id="descripcion"></input>
                        </div>
                  </div>
            </div>
            <button type="submit" class="btn" id="btn2">Enviar</button>
      </div>
</form>
{% endblock %}