<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF de Vacante</title>
    <style>
        body { 
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1, h2, h3 { 
            color: #5e9ca0;
            text-align: center;
        }
        h2 { 
            color: #2e6c80;
        }
        p {
            font-size: 14px;
            margin: 5px 0;
        }
        .section {
            margin-bottom: 20px;
        }
        .contact-info {
            text-align: right;
            color: #3366ff;
        }
    </style>
</head>
<body>
    <h1>ESTAMOS CONTRATANDO</h1>
    <hr />
    <div class="section">
        <h2>{{ data.nomPuesto }}</h2>
        <p><strong>Código de Vacante:</strong> {{ data.codPuesto }}</p>
        <p><strong>Área de adscripción:</strong> {{ data.idArea }}</p>
        <p><strong>Puesto del Jefe Superior:</strong> {{ data.puestoJefeSup }}</p>
        <p><strong>Jornada:</strong> {{ data.jornada }}</p>
        <p><strong>Remuneración Mensual:</strong> {{ data.remunMensual }}</p>
        <p><strong>Prestaciones:</strong> {{ data.prestaciones }}</p>
    </div>
    <div class="section">
        <h3><strong>Descripción General:</strong></h3>
        <p>{{ data.descripcionGeneral }}</p>
    </div>
    <div class="section">
        <h3><strong>Funciones:</strong></h3>
        <p>{{ data.funciones }}</p>
    </div>
    <div class="section">
        <h3><strong>Requisitos:</strong></h3>
        <p><strong>Edad:</strong> {{ data.edad }}</p>
        <p><strong>Sexo:</strong> {{ data.sexo }}</p>
        <p><strong>Estado Civil:</strong> {{ data.idEstadoCivil }}</p>
        <p><strong>Escolaridad:</strong> {{ data.idEscolaridad }}</p>
        <p><strong>Grado Avance:</strong> {{ data.idGradoAvance }}</p>
        <p><strong>Forma de Publicación:</strong> {{ data.idFormaPubl }}</p>
    </div>
    <div class="section contact-info">
      <h2 style="text-align: right;"><span style="color: #3366ff;">Envia tus Datos&nbsp;</span></h2>
        <p><a href="mailto:example1@gmail.com">example1@gmail.com</a></p>
        <p>(+52) 449 4534 534</p>
        <p>www.paginarandom.com</p>
    </div>
</body>
</html>
