{% extends "layout.html" %}

{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/design.css">


<br>
<br>

<form class="row g-3"  action="/generate_pdf" method="POST">
    <div class="col-md-12">
       <label for="nomPuesto" class="form-label">Nombre de la Vacante</label>
       <input type="text" class="form-control" name="nomPuesto" id="nomPuesto" value="{{dat.3}}" readonly="readonly"></input>
    </div>
    <br>
    <div class="col-md-6">
       <label for="codPuesto" class="form-label">Código de Vacante</label>
       <input type="text" class="form-control" name="codPuesto" id="codPuesto" value="{{dat.1}}" readonly="readonly"></input>
    </div>
    <div class="col-md-6">
       <label for="idArea" class="form-label">Área de adscripción</label>
       <input type="text" class="form-control" name="idArea" id="idArea" value="{{catArea.1}}" readonly="readonly"></input>
 
    </div>
    <div class="col-md-12">
       <label for="puestoJefeSup" class="form-label">Puesto del Jefe Superior</label>
       <input type="text" class="form-control" name="puestoJefeSup" id="puestoJefeSup" value="{{dat.4}}" readonly="readonly"></input>
    </div>
    <div class="col-md-8">
       <label for="jornada" class="form-label">Jornada</label>
       <input type="text" class="form-control" name="jornada" id="jornada" value="{{dat.5}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
       <label for="remunMensual" class="form-label">Remuneración Mensual</label>
       <input type="text" class="form-control" name="remunMensual" id="remunMensual" value="{{dat.6}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
       <label for="prestaciones" class="form-label">Prestaciones</label>
       <input type="text" class="form-control" name="prestaciones" id="prestaciones" value="{{dat.7}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
       <label for="descripcionGeneral" class="form-label">Descripción General</label>
       <input type="text" class="form-control" name="descripcionGeneral" id="descripcionGeneral" value="{{dat.8}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="funciones" class="form-label">Funciones</label>
        <input type="text" class="form-control" name="funciones" id="funciones" value="{{dat.9}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="edad" class="form-label">Edad</label>
        <input type="text" class="form-control" name="edad" id="edad" value="{{dat.10}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="sexo" class="form-label">Sexo</label>
        <input type="text" class="form-control" name="sexo" id="sexo" value="{{dat.11}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="idEstadoCivil" class="form-label">Estado Civil</label>
        <input type="text" class="form-control" name="idEstadoCivil" id="idEstadoCivil" value="{{catEdoCivil.1}}" readonly="readonly"></input>
 
    </div>
    <div class="col-md-4">
        <label for="idEscolaridad" class="form-label">Escolaridad</label>
        <input type="text" class="form-control" name="idEscolaridad" id="idEscolaridad" value="{{catEscolaridad.1}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="idGradoAvance" class="form-label">Grado Avance</label>
         <input type="text" class="form-control" name="idGradoAvance" id="idGradoAvance" value="{{catGradoAvance.1}}" readonly="readonly"></input>
        </select>
    </div>
   <div class="col-md-4">
    <label for="idFormaPubl" class="form-label">Forma de Publicacion</label>
     <select type="text" class="form-control" name="idFormaPubl" id="idFormaPubl" value="{{catGradoAvance.1}}" >
        <option></option>
        <option>Redes Sociales</option>
        <option>Television</option>
        <option>Radio</option>
        <option>Carteles</option>
        <option>Referencias Internas</option>
        <option>Anuncios en Periódicos y Revistas</option>
     </select>
    </div>
    <button type="submit" bgcolor="#2B2D83" width="6%" class="btn btn-outline-info btn-sm">Crear pdf</button>
</form>
<br></br>

<button onclick="validarFormulario()" bgcolor="#2B2D83" width="6%" class="btn btn-outline-info btn-sm">Publicar Anuncio</button>
 <!--Aquí lo que hace es que valide el forumlario, Obteniendo el valor con id="idFormaPublSi el valor está vacío, muestra una alerta utilizando la biblioteca swal (probablemente SweetAlert) indicando que se debe seleccionar una opción y retorna false.
Si hay un valor seleccionado, muestra una alerta de éxito y después de 5 segundos redirige a la página "/vacantes_pub". -->
<script>
    function validarFormulario() {
        var select = document.getElementById('idFormaPubl');
        if (select.value === "") {
            swal("Por favor", "seleccione una opción.","error");
            return false;
        } else {
            swal({
                title: "Vacantes Publicadas",
                text: "Redirigiendo...",
                icon: "success",
                button: false,
                timer: 3500 // Duración de la alerta en milisegundos
            }).then(function() {
                window.location.href = "/vacantes_pub";
            });
        }
        return true;
    }
</script>

    <div id="particles-js"></div>
    <script src="/static/js/particles.min.js"></script>
    <script src="/static/js/app.js"></script>
{% endblock %}