{% extends "layout.html" %}

{% block content %}
<table width="100%" border="1" cellpadding="0" bordercolor="#000000">
  <tbody>
  <tr bgcolor="#465F5A">
    <td colspan="4">
      <center><h3 style="color: #FFFFFF;">REQUISICIONES DE PERSONAL REGISTRADAS</h3></center>
      <center>
        <a href="/requisicion_agr" class="btn btn-outline-info btn-sm">Agregar</a>
        <a href="/listar_requisiciones" class="btn btn-outline-info btn-sm">Mostrar requisición</a>
      </center>
    </td>
  </tr>
  <tr>
    <td width="80%">

    </td>
    <td width="6%">

    </td>
    <td width="6%">

    </td>
    <td width="6%">

    </td>
  </tr>
</tbody>
</table>
{% endblock %}

