{% extends "layout.html" %}

{% block content %}
<h3 id="title">Agregar Requisición</h1>
    <form id="formulario" action="/requisicion_agregar" name="requisicionForm" method="POST">
        <div class="form-group">
            <label for="folio">Folio</label>
            <input type="text" class="form-control" name="folio" id="folio" required maxlength="20">
            <div class="invalid-feedback">
                El folio es obligatorio y debe tener como máximo 20 caracteres.
            </div>
        </div>
        <div class="form-group">
            <label for="fechaElab">Fecha de Elaboración</label>
            <input type="date" class="form-control" name="fechaElab" id="fechaElab" required min="{{ today_date }}">
            <div class="invalid-feedback">
                La fecha de elaboración es obligatoria.
            </div>
        </div>
        <div class="form-group">
            <label for="fechaRecluta">Fecha de Reclutamiento</label>
            <input type="date" class="form-control" name="fechaRecluta" id="fechaRecluta" required>
            <div class="invalid-feedback">
                La fecha de reclutamiento es obligatoria.
            </div>
        </div>
        <div class="form-group">
            <label for="fechaInicVac">Fecha de Inicio de Vacante</label>
            <input type="date" class="form-control" name="fechaInicVac" id="fechaInicVac" required>
            <div class="invalid-feedback">
                La fecha de inicio de vacante es obligatoria.
            </div>
        </div>
        <div class="form-group">
            <label for="motivoRequisicion">Motivo de Requisición</label>
            <input type="text" class="form-control" name="motivoRequisicion" id="motivoRequisicion" required
                minlength="3" maxlength="30">
            <div class="invalid-feedback">
                El motivo es obligatorio y debe tener entre 3 y 30 caracteres.
            </div>
        </div>
        <div class="form-group">
            <label for="motivoEspecifique">Especificación de Motivo</label>
            <input type="text" class="form-control" name="motivoEspecifique" id="motivoEspecifique" minlength="3"
                maxlength="70">
            <div class="invalid-feedback">
                La especificación debe tener entre 3 y 70 caracteres.
            </div>
        </div>
        <div class="form-group">
            <label for="tipoVacante">Tipo de Vacante</label>
            <input type="text" class="form-control" name="tipoVacante" id="tipoVacante" required>
            <div class="invalid-feedback">
                El tipo de vacante es obligatorio.
            </div>
        </div>
        <div class="form-group">
            <label for="nomSolicita">Solicitante</label>
            <input type="text" class="form-control" name="nomSolicita" id="nomSolicita" required>
            <div class="invalid-feedback">
                El nombre del solicitante debe contener solo letras mayúsculas y espacios.
            </div>
        </div>
        <div class="form-group">
            <label for="idPuesto">ID Puesto</label>
            <select type="text" class="form-control" name="idPuesto" id="idPuesto" required>
                <option selected disabled hidden value="0">Elige...</option>
                {% for i in puestos %}
                    <option value="{{i[0]}}">{{i[1]}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                El seleccionar un puesto es obligatorio.
            </div>
        </div>
        <!--div class="form-group">
            <label for="idArea">ID Área</label>
            <input type="number" class="form-control" name="idArea" id="idArea" value="{{ next_id_area }}" required>
            <div class="invalid-feedback">
                El ID del área es obligatorio.
            </div>
        </div-->
        <div class="form-group">
            <label for="nomAutoriza">Autorizante</label>
            <input type="text" class="form-control" name="nomAutoriza" id="nomAutoriza" required >
            <div class="invalid-feedback">
                El nombre del autorizante debe contener solo letras y espacios.
            </div>
        </div>
        <div class="form-group">
            <label for="nomRevisa">Revisor</label>
            <input type="text" class="form-control" name="nomRevisa" id="nomRevisa" required >
            <div class="invalid-feedback">
                El nombre del revisor debe contener solo letras y espacios.
            </div>
            <br>
        </div>
        <button type="submit" class="btn" id="btn2">Agregar</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById('fechaElab').setAttribute('min', today);
            document.getElementById('fechaRecluta').setAttribute('min', today);
            document.getElementById('fechaInicVac').setAttribute('min', today);

            document.getElementById('fechaElab').addEventListener('change', function () {
                var elabDate = new Date(this.value);
                elabDate.setDate(elabDate.getDate() + 1);
                var minDate = elabDate.toISOString().split('T')[0];
                document.getElementById('fechaRecluta').setAttribute('min', minDate);
                document.getElementById('fechaInicVac').setAttribute('min', minDate);
            });

            document.getElementById('fechaRecluta').addEventListener('change', function () {
                var reclutaDate = new Date(this.value);
                reclutaDate.setDate(reclutaDate.getDate() + 1);
                var minDate = reclutaDate.toISOString().split('T')[0];
                document.getElementById('fechaInicVac').setAttribute('min', minDate);
            });

            // Validación del formulario
            //var form = document.getElementById('requisicionForm');
            document.requisicionForm.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    </script>
    {% endblock %}