{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/design.css">

<div id="title">
  <h3>VACANTES REGISTRADAS</h3>
  </div>
    <table >
    <thead>
      <tr>
        <td id="encabezado" >Nombre de la vacante</td>
      </tr>
    </thead>
    <tbody>
    {% for i in pue %}
        <tr>
        <td class="tablefondo">
           {{i.1}}
        </td>
        <td><a href="/vacantes_publ/{{i.0}}" class="button" id="btn2">Publicar</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>

<br></br>
<br></br>

<div id="particles-js"></div>
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}