{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/design.css">

</-Tabla de vacantes Anunciadas (momentaneamente se usara la tabla de puestos)->
    <table  width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#7DC998" valign="top">
    <center><h3>VACANTES REGISTRADAS</h3></center>
    <table class="table table-dark table-hover" width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
      <tr>
        <td color="white" bgcolor="blue">Nombre de la vacante</td>
        <td color="white" bgcolor="black"></td>
        <td color="white" bgcolor="black"></td>
        <td color="white" bgcolor="black"></td>
      </tr>
    </thead>
    <tbody>
    {% for i in pue %}
        <tr>
        <td width="80%">
           {{i.1}}
        </td>
        <td bgcolor="#2B2D83" width="6%">
        </td>
        <td bgcolor="#3C3EC5" width="6%">
        </td>
        <td bgcolor="#2B2D83" width="6%">
          <center><a href="/vacantes_publ/{{i.0}}" class="btn btn-outline-info btn-sm ">Publicar</a></center>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>

<br></br>
<br></br>

<div id="particles-js"></div>
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}